.addresses-card {
    row-gap: 20px;
    display: flex;
    flex-direction: column;

    padding: 25px 20px;
    border-color: transparent;
    background-color: #F9F9FB;

}

#new-address .radio-button {
    padding: 21px 10px;
}

.address-card {
    row-gap: 10px;
    display: flex;
    flex-direction: column;

    font-size: 14px;
    padding: 15px 20px;
    color: var(--black);
    border: 1px solid #B6B7B9;
}

.address-card i {
    font-size: 18px;
}


.address-card .type {

}

.address-card .description {
    color: #686868;
}

.address-card,
.addresses-card {
    border-radius: 8px;
    line-height: 105%;
    font-family: "Inter", sans-serif;
}
