@import url(layout.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Khand:wght@300;400;500;600;700&display=swap");

:root {
    --row-gap: 16px;

    --black: #000000;
    --white: #FFFFFF;
    --info: #00A4DF;
    --danger: #EE4123;
    --success: #358B00;
    --warning: #F3CA45;
    --secondary: #686868;

    --info-rgb: rgb(0, 164, 223);
    --danger-rgb: rgb(238, 65, 35);
    --success-rgb:rgb(53, 139, 0);
    --warning-rgb: rgb(243, 202, 69);
    --secondary-rgb: rgb(104, 104, 104);
}


body {
    min-height: 100dvh;

    display: flex;
    align-items: stretch;
    flex-direction: column;

    margin: 0 auto;
    max-width: 576px;
    background-color: var(--white);
}

body, button {
    font-style: normal;
    font-family: "Khand", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* Fonts */
.khand-family {
    font-family: "Khand", serif;
}

.inter-family {
    font-family: "Inter", sans-serif;
}

/* Colors */
.text-info {
    color: var(--info) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-success {
    color: var(--success) !important;
}

/* Buttons */
.btn {
    --bs-btn-font-size: 22px;
    --bs-btn-font-weight: 500;
    --bs-btn-border-radius: 8px;

    width: 100%;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:not(.btn-auto) {
    height: 60px;
}

.btn.btn-auto {
    padding: 15px 20px;
}

.btn-warning {
    --bs-btn-bg: var(--warning);
    --bs-btn-bg: var(--warning);
    --bs-btn-border-color: var(--warning);
    --bs-btn-disabled-bg: var(--warning);
    --bs-btn-disabled-border-color: var(--warning);
}

/* carousel */
.carousel-indicators {
    margin-bottom: -14px;
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 4px;
    border-radius: 6px;
    background-color: #B6B7B9;
    border: none;
}

.carousel-indicators .active {
    background-color: var(--black);
}

/* Tabs */
.nav-pills {
    --bs-nav-pills-border-radius: 8px;
    --bs-nav-pills-link-active-color: var(--black);
    --bs-nav-pills-link-active-bg: var(--warning);

    padding: 5px;
    column-gap: 10px;
    border-radius: 8px;
    background-color: #FAFAFA;
}

.nav-link {
    --bs-nav-link-font-size: 14px;

    color: var(--black);
    font-weight: var(--bs-nav-link-font-weight);
}

.nav-pills .nav-link.active {
    --bs-nav-link-font-weight: 600;
}

/* Animation */
.rotate-180 {
    transform: rotate(180deg);
}

/* Forms */
.form-grid {
    display: grid;
    row-gap: 20px;
}

.form-control {
    --bs-border-color: #E5E5E5;

    height: 54px;
    border-width: 2px;
    border-radius: 8px;
    background-color: #FAFAFA;
}

.form-control:disabled {
    color: #686868;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--warning);
}

.form-check-input {
    --bs-border-color: #CBCED5;
    --bs-form-check-bg: #E9EAEE;

    margin: 0;
    width: 21px;
    height: 21px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-check-input:checked {
    background-color: #E9EAEE;
    border-color: #CBCED5;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-input:checked::before {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #484C4F;
}

.inline-fields {
    width: 100%;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.flag-fields {
    gap: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.flag-label {
    height: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    border: 2px solid #E5E5E5;
}

.flag-input {
    display: none;
}

.flag-input:checked ~ .flag-label {
    border-color: var(--warning);
}

.radio-button-group {
    row-gap: 15px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.radio-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 15px;
    border-radius: 8px;
    background-color: #F9F9FB;
    border: 2px solid transparent;

    font-size: 18px;
    font-weight: 400;
    line-height: 105%;
    font-family: "Inter", sans-serif;
}

.radio-button.selected {
    background-color: #FFFCF1;
    border-color: var(--warning);
}

.form-title {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
}

.form-subtitle {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
}

.form-label {
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.form-title,
.form-subtitle,
.form-label {
    line-height: 105%;
    color: var(--black);
}

.form-stepper {
    row-gap: 50px;
    display: flex;
    flex-direction: column;
}

/* Alerts */
.alert {
    --bs-border-radius: 8px;
    --bs-alert-padding-x: 20px;
    --bs-alert-padding-y: 20px;

    margin: 0;
}

/* Toast card */
.toast-card {
    display: grid;
    row-gap: 15px;
    padding: 20px 15px;

    font-size: 16px;
    font-weight: 500;
    line-height: 105%;

    border-radius: 8px;
    color: var(--black);
    border: 1px solid #B6B7B9;
    background-color: var(--white);
}

.toast-card .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* Modals */
.modal-content {
    row-gap: 30px;
}

.modal-header {
    border: none;
    padding-bottom: 0;
}

.modal-body {
    padding-top: 0;
}

.modal-title {
    font-size: 36px;
    font-weight: medium;
    color: var(--black);
}
