<nav class="navbar py-0">
    <div class="container-fluid p-0">
        <button
            type="button"
            class="sidebar-toggler"
        >
            <div class="bar top"></div>
            <div class="bar middle my-0 mx-auto"></div>
            <div class="bar bottom"></div>
        </button>

        <a
            href="#"
            id="back-btn"
            class="text-black d-none"
        >
            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.58511 0.914933C10.1384 1.46818 10.1384 2.36516 9.58511 2.9184L4.92018 7.58333H18.5C19.2824 7.58333 19.9167 8.2176 19.9167 9C19.9167 9.7824 19.2824 10.4167 18.5 10.4167H4.92018L9.58511 15.0816C10.1384 15.6348 10.1384 16.5318 9.58511 17.0851C9.03187 17.6383 8.13488 17.6383 7.58164 17.0851L0.498306 10.0017C-0.0549366 9.44849 -0.0549366 8.55151 0.498306 7.99827L7.58164 0.914933C8.13488 0.36169 9.03187 0.36169 9.58511 0.914933Z" fill="black"/>
            </svg>
        </a>

        <a
            id="logo-link"
            class="navbar-brand p-0 my-0 mx-auto"
        >
            <img
                class="img-fluid"
                src="img/logos/extended.png"
                alt="ALM cred"
                width="91"
                height="23"
            />
        </a>
    </div>
</nav>
