<nav class="navbar py-0">
    <div class="container-fluid p-0">
        <button
            type="button"
            class="sidebar-toggler"
        >
            <div class="bar top"></div>
            <div class="bar middle my-0 mx-auto"></div>
            <div class="bar bottom"></div>
        </button>

        <a
            href="#"
            id="back-btn"
            class="text-black d-none"
        >
            <i class="bi bi-arrow-left"></i>
        </a>

        <a
            id="logo-link"
            class="navbar-brand p-0 my-0 mx-auto"
        >
            <img
                class="img-fluid"
                src="img/logos/extended.png"
                alt="ALM cred"
                width="91"
                height="23"
            />
        </a>
    </div>
</nav>
