<div class="btn-wrapper d-flex">
    <button
        type="button"
        class="sidebar-toggler active"
    >
        <div class="bar top"></div>
        <div class="bar middle my-0 mx-auto"></div>
        <div class="bar bottom"></div>
    </button>
</div>

<ul class="sidebar-menu">
    <li class="nav-item">
        <a class="nav-link" href="orders.html">Meus Pedidos</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="profile.html">Meu Cadastro</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="addresses.html">Meus Endereços</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="faq.html">Dúvidas</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="support.html">Suporte</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="index.html">Sair</a>
    </li>
</ul>
